.wrapper-rassurance {
  display: flex;
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-footer_01 {
    width: 24px;
    height: 24px;
    background-position: 0 0;
}

.sprite-footer_02 {
    width: 38px;
    height: 38px;
    background-position: -24px 0;
}

.sprite-footer_03 {
    width: 26px;
    height: 40px;
    background-position: -62px 0;
}

.sprite-footer_04 {
    width: 37px;
    height: 37px;
    background-position: 0 -40px;
}

.sprite-footer_05 {
    width: 44px;
    height: 29px;
    background-position: -37px -40px;
}

.sprite-footer_06 {
    width: 36px;
    height: 42px;
    background-position: -88px 0;
}

.sprite-footer_07 {
    width: 59px;
    height: 24px;
    background-position: -37px -69px;
}

.sprite-footer_08 {
    width: 35px;
    height: 27px;
    background-position: -81px -42px;
}

.sprite-header_01 {
    width: 15px;
    height: 11px;
    background-position: -116px -42px;
}

.sprite-header_02 {
    width: 13px;
    height: 16px;
    background-position: -116px -53px;
}

.sprite-footer-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  width: 120px;
  background-color: white;
  font-size: 10px;
  margin: 10px 5px;
}
